section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #333;
  border: 1px solid #333;
  color: #faea0b;
  padding: 0.75rem 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(.8);
}

button:hover,
button:active {
  background-color: #333;
  border-color: #333;
}
